/* clases de bootstrap*/
.col-xs-12, .col-md-12 {
  padding: 0;
}

.row {
  margin: 0;
}

.navbar {
  margin: 0;
}

/* navegador*/
.navbar-nav>li>a {
  padding: 30px 15px 30px 15px;
}

.navbarPortafolio {
  background-color: #000D0B !important;
}
.logo {
  width: 20%;
}
.navbar-brand {
  padding: 0;
}

.text-nav {
  color: #F2F2F2 !important;
}

.text-nav:hover {
  color: #03A696 !important;
  /*color: #027367 !important;*/
}
/*#03A696*/
.textBackgraund {
  background-color: #027367;
}

.textBackgraund:hover {
  background-color: #027367 !important;
  color: #F2F2F2 !important;
}

/* primer fondo de user imagen*/
#image {
  height: 100vh;
  background-image: url('../images/coder.jpg');
  filter:brightness(0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F2F2F2;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.userImg {
  padding: 3%;
  width: 50%;
  display: inline-block;
}

.btnUp {
  margin: 3%;
  background-color: #027367;
  color: #F2F2F2;
}

.btnUp:hover {
  background-color: #F2F2F2;
  color: #014039;
}

/* section portafolio*/
.subtitle {
  font-size: 250%;
  padding-top: 3%;
}
.backgraundPortafolio {
  color: #000D0B;
  overflow: hidden;
}
.contImgUnicorn {
  display: inline-block;
  padding: 2% 0 2% 0;
}

.imgUnicorn {
  width: 15%;
}
.contImgUnicorn::before, .contImgUnicorn::after {
  content: "";
  border: 2px solid #000D0B;
  display: inline-block;
  width: 40%;
  margin-bottom: 0.6%;
  margin-right: 0.4%;
}

.imgCarrusel {
  height: 250px;
}

/* portafolio carrusel*/

/*desde aqui clases del carrusel*/
.glyphicon-chevron-left {
  left: 20% !important;
}
.glyphicon-chevron-right {
  right: 20% !important;
}
.multi-item-carousel {
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control {
    &.left, &.right{
      background-image: none;
    }
  }
}

.space {
  margin-bottom: 3%; 
}

.btn-up {
  margin: 6% 0 6% 0 !important;
  background-color: #027367;
  color: #F2F2F2;
}
.outline {
  outline: 1px solid #014039;
  padding: 2%;
}

.outline {
  color: #014039; 
}
.portafolio {
  margin: 10px 0 10px 0;
}

/* section acerca de mi*/

.backgraundAbout {
  background-color: #03A696;
  overflow: hidden;
}
.about {
  color: #F2F2F2;
}

/* pligin libro*/

.userImg2 {
    width: 50%;
    display: inline-block;
    position: relative;
}

.btnBook {
  background-color: #027367 !important;
  color:#F2F2F2 !important;
}

.contImgUnicorn2 {
  display: inline-block;
  padding: 2% 0 2% 0;
}

.imgUnicorn2 {
  width: 15%;
}

.contImgUnicorn2::before, .contImgUnicorn2::after {
  content: "";
  border: 2px solid #F2F2F2;
  display: inline-block;
  width: 40%;
  margin-bottom: 0.6%;
  margin-right: 0.4%;
}

.navBoock {
  margin-bottom: 3% !important;
}