@media (min-width: 768px) and (max-width: 1025px) {
  .fondo {
    height: 50vh;
    transform: translateY(50%);
  }
  
}

@media (max-width: 768px) {
  .fondo {
    height: 50vh;
    transform: translateY(50%);
  }
  #wrapper {
    display: none;
  }
  #name {
    display: inline-block;
  }
  
}
